#s3tests
boto >=2.6.0
boto3 >=1.0.0
nose-blacklist

#boto3
futures
jmespath
ply
jmespath
#botocore-develop
urllib3
simplejsonrpc
ordereddict
docutils
PyYAML
s3transfer
pytz

#s3cmd
python-magic
