#s3tests
boto >=2.6.0
boto3 >=1.0.0

#boto3
futures
jmespath
ply
jmespath
#botocore-develop
urllib3
simplejsonrpc
ordereddict

#s3cmd
python-magic

#s4cmd
pytz

#awscli
awscli
colorama
rsa
docutils
PyYAML
s3transfer
botocore==1.12.181
pyasn1
